body {
  background-image: url('http://mobimg.b-cdn.net/v3/fetch/ce/cea109c23b09652695337e804dc1d7df.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
}
